doctype html
html(ng-app="tint")
  head
    base(href="/") 
    title= title
    link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/animation.css')

    link(rel='stylesheet', href='/bower_components/foundation-icons/foundation-icons.css')


  body
    header(ng-include="'/partials/nav'")
    .view(ng-view ng-class="pageAnimationClass")

    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='/js/misc.js')
    script(type='text/javascript', src='/bower_components/angular/angular.min.js')
    script(type='text/javascript', src='/bower_components/angular-resource/angular-resource.min.js')
    script(type='text/javascript', src='/bower_components/angular-cookies/angular-cookies.js')
    script(type='text/javascript', src='/bower_components/angular-sanitize/angular-sanitize.js')
    script(type='text/javascript', src='/bower_components/angular-route/angular-route.min.js')
    script(type='text/javascript', src='/bower_components/angular-animate/angular-animate.min.js')

    script(type='text/javascript', src='/bower_components/bootstrap/js/modal.js')
    script(type='text/javascript', src='/bower_components/bootstrap/js/bootstrap.min.js')

    script(type='text/javascript', src='/js/app.js')
    script(type='text/javascript', src='/js/controllers/doController.js')
    script(type='text/javascript', src='/js/directives/animate.js')
    script(type='text/javascript', src='/js/services/services.js')








