//@import "./normalize.css"
@import "./bootstrap/bootstrap.min.css"

*, *:after, *:before
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box
  -webkit-padding-start 0
  -webkit-padding-after 0
  -webkit-padding-before 0
  -webkit-padding-end 0

html 
  min-height 101%
  overflow-x hidden
  
body
  font-family Myriad Pro, "myriad pro", "myriad-pro", sans-serif


ul 
  -webkit-margin-before 0em
  -webkit-margin-after 0em
  
.logo
    background url('http://michaelepierce.com/out/T/tintlogo-vertical_web.svg')
    height 350px
    width: 350px
    bottom: 100px
    left 75%
    margin-left -175px
    position absolute
    z-index: 99999999999999
    .home 
      background url('http://michaelepierce.com/out/T/tintlogo-vertical_web.svg')
    
header 
  float left
  position relative
  width 100%
  height 100%
  a
    color white
  .links
    background-color black
    float right
    height 90px
    list-style 1px 
    min-width 360px
    padding 0
    position relative
    text-align right 
    width 40%   
    .above
      background-color black
      font-size 1.3em  
      padding 15px 15px 5px 15px
      li
        margin-right 1.5em  
        &:last-child
          margin-right 0  
        a 
          color white 
    .below
      font-size 1.9em  
      padding 0px 15px  
      li
        margin-right 1.5em
        &:last-child
          margin-right 0
  a
    color white
    &:hover 
      color white
    i 
      font-size 70px
      display inline-block
      margin-top 10px
  .icn-hm-social-big
    display inline-block
    float right
    height 90px
    line-height 1
    min-width 120px
    text-align center
    width 20%
    vertical-align top          
  ul  
    li
      display inline-block

.container 
  height 100%
  width 100%
  position relative
  transform translate3d(0,0,0)
  
.social-icons
  float

.row 
  margin 0
.view
  padding 0
  position absolute
  left 0
  top 0
  min-height 100%
  perspective 1000
  width 100%
  z-index -9999999
  a
    color white
    i 
      font-size 100px
      display inline-block
      margin-top 10px
  .icn-hm-social-big
    display inline-block
    height 20%
    line-height 1
    min-width 0px
    opacity 1
    text-align center
    width 10%
    vertical-align top
.info
  float left
  height auto
  min-width 240px  
  opacity 1
  width 60%
  background-color white
  position relative
  left 0px
  z-index 999999
  text-align left
  p 
    color #333
    font-size 2.3em
    line-height 1.2em
    padding 30px 30px
  .sub 
    font-size 1.2em
    padding 0px 30px 5px 30px
  a 
    color #ff5349
    text-decoration underline

.first
  margin-top 150px 

//slide
.slideWrap
  margin-top 3em
  margin-left 1em
  margin-bottom 3em
  height 100%
  width 100%
  position relative
  transform translate3d(0,0,0)
.slide 
  background-repeat none
  background-color white
  float left
  margin 1em
  height auto
  min-height 545px
  width 600px
  padding 30px
  border 1px solid #ccc
  a 
    color black
    text-decoration underline
  ul 
    margin 0 0 10px
    li 
      list-style inside
      margin-left 15px
      list-style-type none
  .next
    float right
    font-size 1.2em
    a 
      color black
      text-decoration underline

// Social Media 
.fb
  background #3B5998
  &:hover
    background #2b4582
  .logo
    float left
    background-image url('//d33w9bm0n1egwm.cloudfront.net/assets/logos/socialIcon.png')
    background-position 0 0
    background-repeat no-repeat
    background-size 42px
    width 16px
    margin-right 10px
    height 22px
  &.small
    .icn-hm
      margin-right 8px
      margin-top -3px

.fb:active,.fb:focus,.fb.active
  background-color #243d79
  background-image none
  box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -moz-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -webkit-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)

button.fb,button.tw,button.yt,button.in,button.rss,button.gp,button.linkedin,button.vn,button.tb
  padding 8px 20px
  color white
  border-radius 3px
  font-size 18px
  float left
  border none
  cursor pointer
  -webkit-transition background 0.2s ease-in
  -moz-transition background 0.2s ease-in
  -o-transition background 0.2s ease-in
  transition background 0.2s ease-in

.fb:hover,.tw:hover,.yt:hover,button.in:hover,a.in:hover,.pn:hover,button.rss:hover,a.rss:hover,button.gp:hover,a.gp:hover,button.linkedin:hover,a.linkedin:hover,button.vn:hover,a.vn:hover,button.tb:hover,a.tb:hover
  -webkit-transition background 0.2s ease-in
  -moz-transition background 0.2s ease-in
  -o-transition background 0.2s ease-in
  transition background 0.2s ease-in
  cursor pointer

button.fb.small,button.tw.small,button.yt.small,button.in.small
  font-size 14px
  font-weight bold
  padding 6px 2px

.tw
  background #32C1F0
  &:hover
    background #18b8ee
  .logo
    float left
    width 36px
    height 22px
    background-image url('//d33w9bm0n1egwm.cloudfront.net/assets/logos/socialIcon.png')
    background-repeat no-repeat
    background-size 42px
    background-position -18px 0
  &.small
    .icn-hm
      margin-right 12px
      margin-left -22px
      margin-top -4px

.tw:active,.tw.active,.tw:focus
  background-color #2088B4
  background-image none
  box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -moz-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -webkit-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)

button.in,a.in
  background #685c44

button.in:hover,a.in:hover
  background #524836

button.in:active,a.in:active,button.in.active,a.in.active,button.in:focus,a.in:focus
  background-color #423a2b
  background-image none
  box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -moz-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -webkit-box-shadow inset 0px 1px 0px rgba(50,50,50,0.4)

.yt
  background #ff1d1e
  &:hover
    background #ce1111
  &.small
    .icn-hm
      margin-right 10px
      margin-left 2px
      margin-top -4px

.yt:active,.yt.active,.yt:focus
  background-color #ff0001
  background-image none
  box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -moz-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -webkit-box-shadow inset 0px 1px 0px rgba(50,50,50,0.4)

.pn
  background #D43638
  &:hover
    background #ce1111

.pn:active,.pn.active,.pn:focus
  background-color #ff0001
  background-image none
  box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -moz-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -webkit-box-shadow inset 0px 1px 0px rgba(50,50,50,0.4)

button.rss,a.rss
  background #FF6200

button.rss:hover,a.rss:hover
  background #D15000


button.rss:active,a.rss:active,button.rss.active,a.rss.active,.rss:focus
  background-color #D15000
  background-image none
  box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -moz-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -webkit-box-shadow inset 0px 1px 0px rgba(50,50,50,0.4)

button.gp,a.gp
  background #d34836


button.gp:hover,a.gp:hover
  background #AE3221

button.gp:active,a.gp:active,button.gp.active,a.gp.active,.gp:focus
  background-color #AE3221
  background-image none
  box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -moz-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -webkit-box-shadow inset 0px 1px 0px rgba(50,50,50,0.4)

button.linkedin,a.linkedin
  background #62B3DB

button.linkedin:hover,a.linkedin:hover
  background #37A5DB

button.linkedin:active,a.linkedin:active,button.linkedin.active,a.linkedin.active,.linkedin:focus
  background-color #37A5DB
  background-image none
  box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -moz-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -webkit-box-shadow inset 0px 1px 0px rgba(50,50,50,0.4)

button.vn,a.vn
  background #26cca3

button.vn:hover,a.vn:hover
  background #00b386


button.vn:active,a.vn:active,button.vn.active,a.vn.active,.vn:focus
  background-color #00b386
  background-image none
  box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -moz-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -webkit-box-shadow inset 0px 1px 0px rgba(50,50,50,0.4)

button.tb,a.tb
  background #35465c

button.tb:hover,a.tb:hover
  background #536f9d

button.tb:active,a.tb:active,button.tb.active,a.tb.active,.tb:focus
  background-color #00b386
  background-image none
  box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -moz-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)
  -webkit-box-shadow inset 0px 1px 0px rgba(50, 50, 50, 0.4)

.in
  &.small
    .icn-hm
      margin-right 12px
      margin-left -22px
      margin-top -4px


/*learn */

body
  visibility visible

.tour-pins
  position absolute
  top 0

.tour-pin
  -webkit-transition background-image 0.2s ease-in-out
  -moz-transition background-image 0.2s ease-in-out
  -ms-transition background-image 0.2s ease-in-out
  -o-transition background-image 0.2s ease-in-out
  transition background-image 0.2s ease-in-out
  background-image url('http://d33w9bm0n1egwm.cloudfront.net/assets/splashPage/tour/Pin_Inactive.png')
  width 38px
  height 67px
  position absolute
  cursor hand
  cursor pointer
  text-indent 100%
  white-space nowrap
  overflow hidden
  color transparent
  display none
  z-index 5
  line-height 200

.tour-pin.active, .tour-pin:hover
  background-image url('http://d33w9bm0n1egwm.cloudfront.net/assets/splashPage/tour/Pin_Active.png')
  text-decoration none !important
  color transparent


.tour-3d-info
  h1
    font-weight normal
    font-size 42px
  h2
    font-weight normal
    font-size 16px
    line-height 1.4
    margin-top 14px

.tour-3d-menu
  ul
    list-style-type none
    margin-left 0
  li
    height 45px
    width 215px
    border-bottom 1px solid #ccc
    -webkit-transition background-color 0.2s ease-in-out
    -moz-transition background-color 0.2s ease-in-out
    -ms-transition background-color 0.2s ease-in-out
    -o-transition background-color 0.2s ease-in-out
    transition background-color 0.2s ease-in-out
  a
    color black !important
  .icon-angle-right
    position absolute
    top 6px
    right -1px
    font-size 27px

.tour-3d-menu li:hover, .tour-3d-menu li.active, .tour-3d-menu a:hover, .tour-3d-menu .active a
  background-color #ff5349
  color white !important
  text-transform none !important
  text-decoration none !important

.tour-3d-menu-li-div
  padding 13px
  font-size 18px

.tour-3d-graphic
  margin-left -100px
  top 51px
  right -32px

.tour-3d-graphic-embed, .tour-3d-graphic-moderate
  display none
  position absolute
  top 0

.tour-browser
  background-image url('http://d33w9bm0n1egwm.cloudfront.net/assets/splashPage/tour/Browser_Window.png')
  background-repeat no-repeat
  width 645px
  height 462px

.tour-analytics-h3
  font-size 32px
  margin-left 92px
  margin-top 19px
  letter-spacing 0.05em
  margin-bottom 27px

.tour-analytics-engagement
  display none

.tour-analytics
  .tour-browser
    margin-left -8px

.tour-analytics-info
  margin-left -34px
  margin-top 52px
  .btn-group
    margin-bottom 49px
  ul
    list-style none
    margin-left 0
  li
    padding-bottom 49px
  i
    font-size 28px
    color #ff5349

a
  &.tour-analytics-info-btn
    font-size 18px !important
    padding 12px 29px

.tour-analytics-title
  margin-top -27px
  margin-left 52px
  text-transform uppercase
  font-size 15px
  font-weight bold

.tour-analytics-description
  margin-left 53px
  margin-top 10px
  font-size 16px
  line-height 1.4

.tour-enterprise
  margin-top 90px

.tour-enterprise-h3
  font-size 32px
  margin-top 53px
  margin-left -1px
  letter-spacing .05em
  margin-bottom 39px

.tour-enterprise-item
  margin-bottom 46px
  width 339px

.tour-enterprise-title
  font-size 23px
  text-transform uppercase
  color #ff5349
  margin-bottom 14px
  line-height 1.22

.tour-enterprise-description
  font-size 16px
  line-height 1.5

.tour-enterprise-img
  width 760px
  max-width none
  margin-left -93px
  margin-top 3px

.tour-cta
  margin-top 44px
  height 465px
  background-image url('http://d33w9bm0n1egwm.cloudfront.net/assets/splashPage/tour/COA_Bkg.png')
  -webkit-animation bgmove 50s linear infinite

.tour-cta-center
  position relative
  top 123px
  margin-left auto
  margin-right auto
  width 480px
  text-align center

.tour-cta-title
  font-size 41px
  text-transform uppercase
  color rgb(255, 255, 255)
  line-height 1
  text-shadow 0px 0px 10px #000
  margin-bottom 53px

.tour-cta-signup, .tour-cta-pricing
  width 420px
  font-size 26px
  padding 16px 17px
  margin-bottom 13px
  border none

.tour-cta-signup

.tour-cta-pricing

.tour-cta-examples
  color white !important
  font-size 19px
  position relative
  top 10px

