
.container
  a(href="/")
    .logo
  .row.tour-3d.first
    .col-md-4
      .tour-3d-info
        h1.highlight How It Works
        h2.tour-3d-info-paragraph
          | Tint is the defacto standard for social media displays. Display any social feeds, anywhere. Explore our product by clicking on the blue pins below.
        .tour-extra
          a.tour-play-video(style='font-size: 22px; letter-spacing: 0.1em;', href='javascript:void(0)', data-toggle='modal', data-target='#tour-video')
            i.icon-play-circle
            | Watch Video
      .tour-3d-menu
        ul
          li.tour-3d-menu-li-connect
            a.tour-js-link(href='/')
              .tour-3d-menu-li-div
                | Connect
                i.icon-angle-right
          li.tour-3d-menu-li-personalize
            a.tour-js-link(href='/')
              .tour-3d-menu-li-div
                | Personalize
                i.icon-angle-right
          li.tour-3d-menu-li-moderate
            a.tour-js-link(href='/')
              .tour-3d-menu-li-div
                | Moderate
                i.icon-angle-right
          li.tour-3d-menu-li-embed
            a.tour-js-link(href='/')
              .tour-3d-menu-li-div
                | Embed
                i.icon-angle-right
    .col-md-8
      .tour-3d-graphic
        img.tour-3d-graphic-img(src='http://d33w9bm0n1egwm.cloudfront.net/assets/splashPage/tour/3-D_Connect.png', alt='Screenshot of Tint')
        .tour-3d-graphic-embed
          img.tour-3d-graphic-embed-1(src='http://d33w9bm0n1egwm.cloudfront.net/assets/splashPage/tour/3-D_Embed_Pic1.png', style='position: absolute; top: 160px; left: 560px; z-index: 1;')
          img.tour-3d-graphic-embed-3(src='http://d33w9bm0n1egwm.cloudfront.net/assets/splashPage/tour/3-D_Embed_Pic3.png', style='position: absolute; top: 10px; left: 510px; z-index: 2;')
          img.tour-3d-graphic-embed-2(src='http://d33w9bm0n1egwm.cloudfront.net/assets/splashPage/tour/3-D_Embed_Pic2.png', style='position: absolute; top: 99px; left: 400px; z-index: 3;')
        .tour-3d-graphic-moderate
          img(src='http://d33w9bm0n1egwm.cloudfront.net/assets/splashPage/tour/3-D_Moderate_Phone.png', alt='tint iphone app', style='top: 18px; position: absolute; left: 560px;')
        .tour-pins.tour-pins-connect
          a.tour-pin.tour-js-link(href='connect-everything', style='top: 120px; left: 121px;') Connect Everything
          a.tour-pin.tour-js-link(href='advanced-feed-filters', style='top: 163px; left: 264px;') Advanced Feed Filters
          a.tour-pin.tour-js-link(href='mix-and-mash', style='top: 195px; left: 183px;') Mix and Mash
        .tour-pins.tour-pins-personalize
          a.tour-js-link.tour-pin(href='beautiful-and-diverse-themes', style='top: 60px; left: 410px;') Beautiful and Diverse Themes
          a.tour-js-link.tour-pin(href='easy-personalization-options', style='top: 183px; left: 185px;') Easy Personalization Options
          a.tour-js-link.tour-pin(href='custom-css', style='top: 93px; left: 181px;') Custom CSS
        .tour-pins.tour-pins-moderate
          a.tour-js-link.tour-pin(href='/product/moderate-approve-delete-reject', style='top: 140px; left: 398px;') Approve and Reject Posts
          a.tour-js-link.tour-pin(href='/product/pin-to-top', style='top: 176px; left: 437px;') Pin To Top
          a.tour-js-link.tour-pin(href='/product/automatically-moderate-prevent-spam', style='top: 208px; left: 205px;') Automatically Moderate to Prevent Spam
        .tour-pins.tour-pins-embed
          a.tour-js-link.tour-pin(href='/product/fully-responsive-widget', style='top: -10px; left: 690px;') Fully Responsive Widget
          a.tour-js-link.tour-pin(href='/product/embed-anywhere', style='top: 140px; left: 471px;') Embed Anywhere
          a.tour-js-link.tour-pin(href='/product/mobile-compatible', style='top: 200px; left: 747px;') Mobile Compatible
          a.tour-js-link.tour-pin(href='/product/white-label-dashboard', style='top: 150px; left: 250px;') White Label Dashboard
  .row 
    .col-md-12
      img(src="http://d33w9bm0n1egwm.cloudfront.net/assets/splashPage/splash3/how-it-works-splash.png", style="width: 100%; max-width: 900px; margin: 0 auto; display: block; padding: 75px 0")
  .row
    .col-md-12
      h1.highlight Who Uses Tint
      img(src="http://michaelepierce.com/out/T/nasdaq_exclaim.jpg", style="width: 100%")