.slideWrap  
  .slide
    p 
      h1(style="margin-bottom:0") Michael Pierce for 
        span(style="color: #ff4539") Tint
      | March 9, 2014
    p Design to me is not so much about buttons or colors. It's an approach to problem solving aimed at understanding and delivering to the customer in the most effective way possible. This originates with data. 
    p Secondary to problem solving is being able to build what I design. After working with clients the last few years, it has become integral to my value proposition. On top of that, I enjoy learning new Front-End skills and expanding my abilities.
    br
    p It's been an exciting weekend consumed by the potentialities of this project and new challenges. The following is what I whipped up in the last few days. It's a very rough iteration with external research only. If you'd like to go straight to the build, 
      a(href="/") click here
      | . Otherwise, the next two slides aim to provide insight into my process. The last slide will include a link to the build as well. 
    p Thank you all for the opportunity to show what I got. 
    p If you have questions, want an explanation, or just want to say hey, feel free to call my mobile at 415 696 9339. Or email me at 
      a(href="mailto:mp@michaelepierce.com") hello@michaelepierce.com
    br
    p Always learning. I never stop.
    .nav
      .next
        a(href="/two") Next
        |  (Process)

        