
.slideWrap
  .slide
    p
      h1(style="color: #FDC162") Build
    p For very quick turnaround I used the following to build a web app:
    ul
      li - Node and Express for server (I have worked with dbs a little bit)
      li - AngularJS for Front-end routing (found an advanced UI router mid-stream)
      li - jQuery
      li - Jade and Stylus for HTML5 and CSS3 preprocessing
      li - Bootstrap, Foundation Icons
      li - SVG graphics, where possible
    p  
    p My main objective was to simplify the site structure and messaging, hence conversion funnel. Tint is a layer (thanks Brandon for explanation!) and I sought to represent this through the designs. I did not play with drop shadows on this iteration. They may be effective in future builds.  
    br
    p Github source: 
      a(href="http://github.com/mp1erce/T", target="_blank") Here
      |  (Will be up this week)
    .nav
      .next(style="float:left")
        a(href="/two") Back
      .next
        a(href="/") Next
        |  (Live)
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_05.png'); background-size: auto 100%; background-repeat: no-repeat;background-position-x: 50%; border: none")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_06.png'); background-size: auto 100%;background-repeat: no-repeat;background-position-x: 50%; border: none")