.slideWrap
  .slide(style="min-height: 335px")
    p
      h1(style="color: #FDC162") Build
    p For quick turnaround I used the following to build a web app:
    ul
      li - Node and Express for server (MongoDB)
      li - AngularJS for Front-end routing (found an advanced UI router mid-stream)
      li - jQuery
      li - Jade and Stylus for HTML5 and CSS3 preprocessing (Have used Sass)
      li - Bootstrap, Foundation Icons
      li - SVG graphics, where possible 

    .nav
      .next(style="float:left")
        a(href="/process") Back
      .next
        a(href="/") Next
        |  (Live)
  .slide(style="min-height: 335px; background-image: url('http://michaelepierce.com/out/T/tint_05.png'); background-size: auto 100%; background-repeat: no-repeat;background-position-x: 50%; border: none")
  .slide(style="min-height: 335px; background-image: url('http://michaelepierce.com/out/T/tint_06.png'); background-size: auto 100%;background-repeat: no-repeat;background-position-x: 50%; border: none")
