.slideWrap
  .slide
    p
      h1 Build
    p For this very quick development build I used:
    ul
      li - Node and Express for server (I have worked with dbs a little bit)
      li - AngularJS for Front-end routing and UI (found advanced UI router mid-stream)
      li - jQuery
      li - Jade and Stylus for HTML5 and CSS3, respectively, preprocessing
      li - Bootstrap, Foundation Icons
      li - SVG graphics, where possible
    p  
    p My main objective was to simplify the site structure, hence conversion funnel. Tint is a layer, I sought to represent this through the designs. I did not play with drop shadows on this iteration. They may be an effective  
    p Live work is best viewed in Chrome with a width of 1280px. Obviously production worthy build will work on all devices and browsers.
    p Github source: 
      a(href="http://github.com/mp1erce/T", target="_blank") Here
      |  (Will be up this week)
    .nav
      .next(style="float:left")
        a(href="/two") Back
      .next
        a(href="/") Next
        |  (Live)