
.slideWrap
  .slide
    p 
      h1(style="margin-bottom:0; color: #60D7A9") Process 
      span(style="font-style: italic; color: #6B6B6B; margin-left:0px") Modified for Honeybook - 
        | The following pages were created as a trial design/build demo for the company in 72 hours. They contain no proprietary information - March 13, 2014
    p 
    p 1. Identify objectives and stakeholders
    | 2. Research:
    ul
      li - Customer service tickets
      li - Customer conversion flow patterns
      li - In-page analytics
      li - Surveys
      li - Team brainstorm
      li - Necessary elements/functionality (including media)
    p 3. Put everything on screen (Wireframe, PSD, HTML/CSS/JS)
    p 4. Remove and simplify
    p 5. Build 
    p 6. Repeat 4 & 5. (While finding consensus)
    .nav
      .next
        a(href="/build") Next
        |  (Build)
  .slide(style="background-image: url('http://michaelepierce.com/out/T/flow_listEditItem.gif'); background-size: 100%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_wire00.jpg'); background-size: 100%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_wire01.gif'); background-size: 100%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_wire02.jpg'); background-size: 100%") 
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_wire03.jpg'); background-size: 100%") 

  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_01.png'); background-size: 100%;background-repeat: no-repeat;background-position: 50%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_02.png'); background-size: 100%;background-repeat: no-repeat;background-position: 50%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_03.png'); background-size: auto 100%; background-repeat: no-repeat;background-position: 50%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_04.png'); background-size: auto 100%; background-repeat: no-repeat;background-position: 50%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_05.png'); background-size: auto 100%; background-repeat: no-repeat;background-position-x: 50%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_06.png'); background-size: auto 100%;background-repeat: no-repeat;background-position-x: 50%")