
.slideWrap
  .slide
    p 
      h1(style="margin-bottom:0; color: #60D7A9") Process 
    p 1. Identify objectives and stakeholders
    | 2. Research:
    ul
      li - Customer service tickets
      li - Customer conversion flow patterns
      li - In-page analytics
      li - Surveys
      li - Team brainstorm
      li - Necessary elements/functionality (including media)
    p 3. Put everything on paper then screen (wireframe, PSD, html/css)
    p 4. Remove and simplify
    p 5. Build 
    p 6. Repeat 4 & 5. Find consensus
    .nav
      .next(style="float:left")
        a(href="/one" anim-class="slideRight") Back
      .next
        a(href="/three") Next
        |  (Build)
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_wire00.jpg'); background-size: 100%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_wire01.jpg'); background-size: 100%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_wire02.jpg'); background-size: 100%") 
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_wire03.jpg'); background-size: 100%") 

  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_01.png'); background-size: 100%;background-repeat: no-repeat;background-position: 50%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_02.png'); background-size: 100%;background-repeat: no-repeat;background-position: 50%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_03.png'); background-size: auto 100%; background-repeat: no-repeat;background-position: 50%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_04.png'); background-size: auto 100%; background-repeat: no-repeat;background-position: 50%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_05.png'); background-size: auto 100%; background-repeat: no-repeat;background-position-x: 50%")
  .slide(style="background-image: url('http://michaelepierce.com/out/T/tint_06.png'); background-size: auto 100%;background-repeat: no-repeat;background-position-x: 50%")